<!doctype html>
<html lang="en-US">
<head>
    {{ inc src="_inc/head.hbs" }}
</head>
<body>
    {{ inc src="_inc/header.hbs" }}
        {{ content }}
    {{ inc src="_inc/footer.hbs" }}
</body>
</html>