---
layout: "default.hbs"
---
<div ss-Post>

    <header ss-Post-Header>
        <h1>{{ page.title }}</h1>
        <p ss-Post-Meta></p>
    </header>

    <article ss-Post-Content>
        {{ content }}
    </article>

    {{ inc src="_inc/discus.hbs" }}

</div>