<footer class="site-footer">

    <div class="wrap">

        <div class="footer-col-2 column">
            {{ inc src="_inc/social.hbs" }}
        </div>

        <div class="footer-col-3 column">
            <p class="text">{{ site.description }}</p>
        </div>

    </div>

</footer>