@font-face {
    font-family: 'robotolight';
    src: url('../fonts/robotolight/Roboto-Light-webfont.eot');
    src: url('../fonts/robotolight/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotolight/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/robotolight/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/robotolight/Roboto-Light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

