[ss-Footer] {

    background: $header-bg;
    margin-top: $base-spacing;
    padding: $base-spacing 0;
    border-top: 1px solid darken($header-bg, 10%);
    border-bottom: 5px solid darken($lime, 5%);
    text-align: center;

    a {
        color: $black;
    }
}

[ss-Social] {

    a {

        color: $grey-lt;
        padding: .5em;

        &:hover {

            text-decoration: none;
            color: $grey-lt;
        }
    }
}