[ss-Header] {

    background: $header-bg;
    text-align: center;
    padding: .5em 0;
    border-bottom: 1px solid darken($header-bg, 5%);
    border-top: 5px solid darken($lime, 5%);

    @include media-query(min, $lap-start) {
        padding: 1em 0;
        margin-bottom: $base-spacing;
    }
}

[ss-Title] {

    @include font-size(20px);
    padding: 3px;
    font-weight: bold;
    display: block;
    color: $black;

    @include media-query(min, $lap-start) {
        @include font-size(30px);
        margin-bottom: $half-spacing;
    }

    &:hover {

        text-decoration: none;
        color: $teal;
    }
}