[ss-Nav] {

    display: block;
    list-style: none;
    margin-bottom: $half-spacing;

    a {
        display: block;
    }
}

[ss-Nav~="inline"] {
    a {
        display: inline-block;
        margin-left: $half-spacing;

        &:first-child {
            margin-left: 0
        }
    }
}

[ss-Nav~="header"] {

    margin-bottom: 0;

    a {

        text-transform: uppercase;
        padding: .2em .4em;
        margin-left: 10px;
        border-radius: 3px;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            color: $black;
            text-decoration: none;
        }

        &.active {

            color: $grey-lt;
            cursor: default;

            &:hover {
                text-decoration: none;
            }
        }
    }
}