.pagination {

    border-top: 1px solid #f2f2f2;
    padding-top: $base-spacing;

    @include media-query(min, $lap-start) {

        .prev {
            width: 50%;
            float: left;
        }
        .next {
            width: 50%;
            float: right;
            text-align: right;
        }
    }
}