[ss-Post-Content] {

    margin-bottom: $base-spacing*2;

    ul, ol {
        display: block;
        padding-top: $half-spacing;
        padding-left: $base-spacing+$half-spacing;
        margin-bottom: $base-spacing;
    }
}

/**
 * List of posts
 */
[ss-Nav~="posts"] {

    list-style: none;

    li {
        border-bottom: 1px solid #f7f7f7;
        padding-top: 1em;

    }
    a {
        display: block;
        @include font-size(18px);
        text-transform: uppercase;
        padding: .3em 0 1em;
    }
}

[ss-Post-Date] {
    color: grey;
    @include font-size(12px);
    display: block;
}

[ss-Post-Meta] {
    color: #C7C7C7;
    text-transform: uppercase;
}